@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
p{
  font-size: small;
  color: #b3b5b4;
  padding: 0 5%;
  letter-spacing:2px;
  line-break: 2;
}
hr{
  width: 90%;
  margin: auto;
}
.log{
  display: inline-block;
  padding: 0px 1rem;
  font-family: 'Just Another Hand', cursive;
}
nav {
  width: 100%;
}
nav ul li{
  padding: 0 1rem;
}
.paded{
  margin:  auto;
  padding: 2%;

}
.pad{
  display: block;
  color: rgba(0,0,0,.55);
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing:3;
}
.row{
  justify-content: center;
}

.envp{
  
   padding: 2% 0; 
}
.envp:hover{
display:none;
border: solid #b3b5b4;
 box-shadow: 1px 2px #b3b5b4;
}
.letters{ 
  text-align: center;
  /* margin: auto; */
  display: block;
  padding: 1rem 5%;


}
.letterimg{
/* display: none; */
width: 100%;
}
.letter-text{
  z-index: -1;
  position: absolute;
  width: 40%;
   top: 40%;
   left: 25%; 
   /* width:100%; */
   /* height: 100%; */
   
  
}
.letter-text button{
  border: none;
  background: none;
}
.letters h1{
  font-weight: 600;
  vertical-align: middle;
  /* padding: 1rem ; */

}
.populateLetters{

  padding: 1rem 10%;
}
.social-media{
  margin:auto;
  text-align: center;

}
.social-media a:hover{
  text-decoration: none;
}
.SM-icons{
  width:2rem;
  border:black;
 
}

.SM-icons:hover{
  text-decoration: none;
}
.credits{
  margin:auto;
  padding: 2% 0;
}
.about{
  margin: auto;
  padding: 0 20%;
}
.about h1{
  font-family: 'Ephesis', cursive;
  font-size: 6rem;
  font-weight:normal;
  letter-spacing: 3px;
  text-align: center;
  line-break:3px;  
}
.about p{
  color: #000;
  letter-spacing: 1px;
}
 a{
  color:red;
}
a:hover{
  color:red;
  text-decoration-color: red;
}
.letterPost{
  padding: 0 2%;
  margin: auto;
}
.letterPost form{
  padding: 1rem;

}
.letterPost hr{
  color:#3b3d3b;
  width: 100%;

}

.letterPost label{
  padding:0;
  line-break:0;
  line-height:auto;
  font-size: small;
  color: #b3b5b4;
  letter-spacing: 2px;
}
.input{
display: solid;
width: 100%;
line-break:0;
background-color:#ebebeb;
border: solid 1px #8f8f8f;
}

input:focus{
  background-color: white;
  height:2.5rem;
}
textarea:focus{
  background-color: white;
}
.lettersubmit{
  display: block;
  padding: 10px 2rem;
  color: red;
  border: solid 2px red;
  background-color: white;
  
}
.lettersubmit:hover{
  color: white;
  background-color: red;
}
.p{
  text-align:left;
  margin: 0;
  padding:  2rem 0;
  font-size: smaller;
} 
@media  screen and (min-width:1500px) {
  p{
    font-size: 1rem;

  }
  .pad{
    font-size:2rem;
  }
  .padded{
    margin: 0 5rem;
  }

}
@media screen and (max-width:600px){
  .pad{
    font-size: 1rem;
  }
  .padded{
    margin: 0 1rem;
  }
  .populateLetters{
    padding: 1rem 2%;
  }
 .letter-text h1{
 font-size: 12px;
 }
}
